/*!
 * KEEVID DESIGN
 * base.css
 * Copyright KEEVID DESIGN 2015
 */

body {
  background-color: #EDF0FA;
  padding: 20px;
  min-width: 320px;
}

/*
 * header menu
 */

.header-menu {
  border-color: transparent;
  margin-bottom: 0;
}
.header-menu a {
  color: #2FC4C6;
}
.header-menu .navbar-brand {
  color: #555555;
}
.header-menu-tabs {
  border-color: transparent;
  border: 0;
}
.header-menu-tabs>li {
  margin-top: 10px;
  border-color: transparent;
  font-weight: bold;
}
.header-menu-tabs>li>a, {
  border-color: transparent;
}
.header-menu-tabs>li>a:focus, .header-menu-tabs>li>a:hover {
  background-color: #2FC4C6;
  color: #fff;
}
.header-menu-tabs>li.active>a, .header-menu-tabs>li.active>a:focus, .header-menu-tabs>li.active>a:hover {
  border-color: transparent;
}

/*
* home
*/

.contents-home {
  background-color: #ffffff;
  padding: 0px;
  width: 100%;
}
.top-title {
  text-align: center;
  vertical-align: middle;
  padding: 20px;
}
.top-copy {
  font-family: helvetica-w01-bold, helvetica-w02-bold, helvetica-lt-w10-bold, sans-serif;
  font-weight: bold;
  color: #ffffff;
  position: absolute;
  bottom: 0;
  padding: 15px 30px;
  text-align: left;
  line-height: 2.5em
}
.top-copy .top-copy-big {
  font-size: 3.6em;
}
.top-copy .top-copy-small {
  font-size: 3.4em;
}

/*
* Contents wrapper
*/

.contents-common {
  background-color: #ffffff;
  width: 100%;
  padding: 20px 30px;
}

.contents-subtitle {
  font-family: 'Raleway', sans-serif;
  color: #555555;
}
.contents-title {
  font-family: 'open sans condensed', sans-serif;
  font-size: 28px;
  color: #555555;
}
.contents-title-common {
  padding-top: 0px;
  margin-top: 7px;
}

/*
* Services
*/

.row-services {
  padding-bottom: 20px;
}
.row-services img {
  padding-top: 10px;
}

/*
* Portfolio
*/

.contents-portfolio {
  background-color: #ffffff;
}
.contents-title-portfolio {
  padding-top: 0;
  margin-top: 0;
  padding: 20px 30px 10px 30px;
  padding-left: 30px;

}
.page-portfolio img {
  width: 150px;
  height: 150px;
}
.portfolio-legend
{
  color: #FFF;
  background: #222;

}

/*
* About
*/

.about-strong {
  font-weight: bold;
  font-size:1.5em;
}
.image-about {
  object-fit: cover;
}
.about-title {
  padding: 20px 30px;
}
.about-column {
  padding: 20px 20px 20px 10px;
}

/*
* Contact
*/
.contact-form {
    position: relative;
    width: 100%;
    padding: 75% 0 0 0;
    min-height:700px;
}
.contact-form iframe
{position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border:0;}
