@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
/*!
 * KEEVID DESIGN
 * base.css
 * Copyright KEEVID DESIGN 2016
 */

/* Body */
body {
	font-family: 'Open Sans', sans-serif;
	background-color: #ffffff;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-style: normal;
	word-wrap : break-word;
	overflow-wrap : break-word;
	color: #333366;
	min-width: 320px;
}
h2, h3 {
	font-weight: bold;
}
.line_break {
	display: none;
}
.container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	height: 1000px;
}
.logo {
	color: #fff;
	font-weight: bold;
	float: left;
	margin-top: 2px;
	margin-left: 5px;
	letter-spacing: 4px;
	vertical-align: middle;
	overflow: hidden;
	position: relative;
	height: 50px;
}
.logo img {
	height: 45px;
}
.section_header {
	text-align: center;
	letter-spacing: 4px;
	font-size: 2em;
	color: #333366;
	font-weight: 700;
}
.section_header img {
	margin-right: 10px;
	height: 28px;
}
.section_container {
	padding-top: 50px;
	margin-top: 0;
}
.text_column {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-left: 5%;
	padding-right: 5%;
	text-align: left;
}
/* Navigation */
nav {
	text-align: right;
}
nav ul {
	list-style: none;
	float: right;
}
nav ul li {
	float: left;
	color: #333366;
	font-size: 14px;
	text-align: left;
	margin-right: 20px;
	letter-spacing: 2px;
	font-weight: bold;
	transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	display: inline-block;
	vertical-align: middle;
}
ul li a {
	color: #333366;
	text-decoration: none;
	display: inline-block;
	vertical-align: middle;
}
header {
	width: 100%;
	height: 50px;
	background-color: #ffffff;
	border-bottom: 1px solid #cafc88;
	position: fixed;
	top: 0;
	z-index: 1000;
}
.header_nav {
	margin-right: 75px;
	margin-left: 0;
	float: right;
}
.header_nav .nav_text {
	display: block;
	bottom: 0;
	margin: auto;
	height: 40px;
	line-height: 40px;
	padding: auto;
}
.header_nav ul {
	padding-left: 0;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 0;
}
.header_nav ul li {
	margin-top: 0;
}
.header_nav ul li:hover a, .lang li:hover a {
	color: #00991F;
}
.header_nav div {
	display: inline-block;
	height: 40px;
	width: auto;
	padding-left: 28px;
	background-position: left center;
	margin: 5px auto;
	vertical-align: middle;
	background-size: 25px;
}
.footer_nav {
	float: left;
	min-width: 320px;
}
.footer_nav div {
	display: block;
	width: 55px;
	background-position: center 13px;
	margin: 3px auto 0 auto;
	padding-bottom: 3px;
	height: 40px;
	background-size: 30px;
	text-align: center;
}
nav div {
	background-repeat: no-repeat;
}
.footer_nav .nav_text {
	display: block;
	bottom: 0;
	margin: 0 auto;
}
.footer_nav ul li {
	min-height: 30px;
	vertical-align: middle;
	text-align: center;
}
.footer_nav ul li:hover a {
	color: #06F8FC;
}
.nav_home {
	background-image: url("../img/icons/home.png");
}
.nav_services {
	background-image: url("../img/icons/services.png");
}
.nav_works {
	background-image: url("../img/icons/works.png");
}
.nav_about {
	background-image: url("../img/icons/about.png");
}
.nav_contact {
	background-image: url("../img/icons/contact.png");
}
.header_nav .nav_home:hover {
	background-image: url("../img/icons/home_green.png");
}
.header_nav .nav_services:hover {
	background-image: url("../img/icons/services_green.png");
}
.header_nav .nav_works:hover {
	background-image: url("../img/icons/works_green.png");
}
.header_nav .nav_about:hover {
	background-image: url("../img/icons/about_green.png");
}
.header_nav .nav_contact:hover {
	background-image: url("../img/icons/contact_green.png");
}
.footer_nav .nav_home:hover {
	background-image: url("../img/icons/home2.png");
}
.footer_nav .nav_services:hover {
	background-image: url("../img/icons/services2.png");
}
.footer_nav .nav_works:hover {
	background-image: url("../img/icons/works2.png");
}
.footer_nav .nav_about:hover {
	background-image: url("../img/icons/about2.png");
}
.footer_nav .nav_contact:hover {
	background-image: url("../img/icons/contact2.png");
}
.lang {
	color: #70A83D;
	font-size: 12px;
	letter-spacing: 2px;
	font-weight: normal;
	transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	float: right;
	margin-right: 10px;
	margin-top: 0.7em;
	margin-left: 0px;
	display: block;
	list-style: none;
	vertical-align: middle;
	text-align: right;
	padding: 0;
	right: 0;
	position: absolute;
	z-index: 9999;
}
.lang a {
	color: #333366;
	text-decoration: none;
}
.unselected_lang {
	margin-right: 10px;
}
.triangle {
	display: inline-block;
	width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-right: 5px solid #70A83D;
	border-bottom: 5px solid transparent;
	border-left: 5px solid transparent;
}
/* Home Section */
.home {
	background-color: #B3B3B3;
	background-image: url("../img/top2.jpg");
	background-size: cover;
	background-position: 50% 0%;
	background-repeat: no-repeat;
	padding-top: 100px;
	padding-bottom: 150px;
	text-align: center;
	height: 80vh
}
.home_logo {
	max-width: 80vw;
}
.home_header {
	color: #FFFFFF;
	text-align: center;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	letter-spacing: 4px;
}
.home_copy {
	margin-top: 20px;
	padding-left: 5%;
	padding-right: 5%;
	color: #01BCCC;
}
.home_copy_highlight {
	color: #CCF901;
}
.tagline {
	text-align: center;
	color: #FFFFFF;
	margin-top: 4px;
	font-weight: lighter;
	letter-spacing: 1px;
}
/* Service Section */

.sub_section_header {
	color: #FF8F02;
	margin-bottom: 5px;
	overflow-wrap: break-word;
	word-wrap: break-word;
}
.services_row {
	clear: both;
	display: inline-block;
	width: 100%;
	padding-top: 0px;
	margin-top: -5px;
	margin-bottom: 0px;
}
.services_column {
	width: 50%;
	text-align: center;
	float: left;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 0;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	box-sizing: border-box;
}
.services_column ul, .services_column h3 {
	text-align: left;
}
.services_column h4 {
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	color: #52BAD5;
}
.services_column p {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.services_small_header {
	font-weight: bold;
	text-align: left;
}
/* Works Section */
.gallery {
	clear: both;
	display: inline-block;
	width: 100%;
	background-color: #333366;
	padding-bottom: 20px;
	padding-top: 10px;
	padding-right: 5px;
	padding-left: 5px;
	margin-top: -5px;
	margin-bottom: 0px;
	vertical-align: middle;
	position: relative;
	box-sizing: border-box;
}
.gallery_wrapper {
	padding-left: 5px;
	padding-right: 5px;
	display: block;
	width: 25%;
	float: left;
	margin-top: 10px;
	box-sizing: border-box;
}
.gallery_square {
	background-color: #ffffff;
	vertical-align: middle;
	text-align: center;
	position: relative;
	overflow: hidden;
	border-radius: 5px;
	border-top: 1px;
	border-right: 1px;
	border-left: 1px;
	border-bottom: 1px;
	border-style: solid;
	border-color: #034F7A;
	width: 100%;
	max-width: 100%;
	display: inline-block;
	top: 0;
	box-sizing: border-box;
}
.gallery_square:before {
	content: "";
	display: block;
	padding-top: 100%;
}
.gallery_image {
	background-color: #ffffff;
	display: block;
	width: 100%;
	height: 82%;
	overflow: hidden;
	position: absolute;
	margin: auto;
	top: 0;
}
.gallery_image img {
	background-color: #FFFE60;
	vertical-align: middle;
	width: 100%;
	height: auto;
	min-width: 100%;
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	top: 50%;
	bottom: 50%;
	overflow: hidden;
}
.gallery_description {
	position: absolute;
	bottom: 0;
	right: 0;
	background-color: #ffffff;
	vertical-align: middle;
	border-top: 1px solid #efefef;
	display: inline-block;
	width: 100%;
	height: 18%;
	min-height: 40px;
}
.gallery_description p {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 5px;
	margin-right: 5px;
	color: #333366;
	font-size: smaller;
	display: inline-block;
	vertical-align: middle;
}
.gallery_description_small {
	font-size: x-small;
}
/* About Section */
.about {
	padding-top: 35px;
	padding-bottom: 35px;
	display: inline-block;
	margin-top: 0px;
	text-align: center;
	width: 100%;
	background-color: #ffffff;
	background-image: url(../img/about.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom center;
}
.about ul {
	text-align: left;
}
.about_wrapper {
	background-color: #ffffff;
	width: 90%;
	height: 90%;
	display: inline-block;
	opacity: 0.9;
	filter: alpha(opacity=90); /* For IE8 and earlier */
	border-radius: 8px;
	padding-bottom: 20px;
	max-width: 1024px;
}
.text_column_justify {
	text-align: justify;
}
/* Footer Section */
footer {
	color: #333366;
	width: 100%;
	margin: 0;
	padding: 0;
	letter-spacing: normal;
	background-color: #329603;
	vertical-align: bottom;
	display: none;
	height: 50px;
}
.contact {
	background-color: #333366;
	padding-top: 30px;
	padding-bottom: 30PX;
	margin-bottom: 0px;
	color: #ffffff;
}
.contact img {
	margin-right: 5px;
	margin-bottom: 0;
	height: 20px;
}
.hidden {
	display: none;
}
.address_title {
	font-size: smaller;
	color: #cccccc;
	padding-right: 15px;
	word-wrap: break-word;
	white-space: nowrap;
}
.footer_info {
	display: inline-block;
	float: right;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	vertical-align: middle;
	background-color: #329603;
	width: 100%;
}
.copyright {
	text-align: center;
	color: #efefef;
	text-transform: uppercase;
	font-weight: lighter;
	font-size: x-small;
	letter-spacing: 2px;
	border-top-width: 2px;
	display: inline-block;
	vertical-align: middle;
	padding-left: 40px;
	padding-right: 25px;
	padding-top: 15px;
	padding-bottom: 15px;
	box-sizing: border-box;
	float: right;
}
.footer_logo {
	height: 40px;
	padding-top: 4px;
	padding-right: 20px;
	margin: 0;
	float: right;
	display: inline-block;
	box-sizing: border-box;
	vertical-align: middle;
}
.footer_logo img {
	height: 40px;
	margin: 0;
}

/*==========Mobile==========*/
@media (max-width: 320px) {
.line_break {
	display: inline;
}
.section_container {
	padding-top: 0;
}
.sub_section_header {
	text-align: left;
	font-size: 1.3em;
}
.services_column h3 {
	text-align: left;
}
.home {
	background-position: 60% 0%;
}
.logo {
	width: 100%;
	text-align: center;
	margin-top: 3px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.lang {
	top: 10px;
}
.lang li {
	padding-top: 3px;
	padding-bottom: 3px;
}
.logo {
	display: none;
}
header {
	display: none;
}
footer {
	display: block;
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: center;
}
.footer_nav {
	background-color: #329603;
}
.footer_nav ul {
	margin: auto;
	padding: 0;
	float: left;
}
.footer_nav ul li {
	margin-right: 0;
	letter-spacing: 0px;
	font-size: 10px
}
.footer_info {
	margin-bottom: 50px;
}
.gallery_wrapper {
	width: 100%;
}
.services_column {
	width: 100%;
}
.footer_column {
	width: 100%;
	margin-top: 0px;
}
.banner {
	background-color: #2D9AB7;
	background-image: none;
}
.tagline {
	margin-top: 20px;
	line-height: 22px;
}
.top_header {
	padding-left: 10px;
	padding-right: 10px;
	line-height: 22px;
	text-align: center;
}
.copyright {
	width: 100%;
}
}

/*==========Small Tablets==========*/
@media (min-width: 321px)and (max-width: 767px) {
.section_container {
	padding-top: 0;
}
.sub_section_header {
	font-size: 1.3em;
}
.home {
	background-position: 55% 50%;
}
.logo {
	width: 100%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	color: #043745;
}
.logo img {
	padding-top: 3px;
}
header {
	position: relative;
}
.header_nav {
	display: none;
}
footer {
	position: fixed;
	bottom: 0;
	display: block;
}
.footer_nav ul {
	margin: auto;
	padding: 0;
}
.footer_nav ul li {
	margin-right: 0px;
	letter-spacing: 1px;
	font-size: 10px
}
.footer_info {
	margin: 0 0 50px 0;
	padding: 0;
}
.footer_logo {
	padding-top: 2px;
	padding-bottom: 0;
	margin: 0;
}
.footer_column {
	width: 100%;
	margin-top: 0px;
}
.gallery_wrapper {
	width: 50%;
}
.services_column {
	width: 100%;
}
}

/*==========Small Desktops==========*/
@media (min-width: 768px) and (max-width: 1096px) {
.header_nav li {
	font-size: 11px;
	margin-right: 10px;
}
.services_column {
	width: 100%;
}
.gallery_wrapper {
	width: 33.3333%;
}
.banner {
	margin-top: 0px;
	padding-top: 0px;
}
}
