/*!
 * KEEVID DESIGN
 * base.css
 * Copyright KEEVID DESIGN 2015
 */

body {
  background-color: #EDF0FA;
  padding: 20px;
  min-width: 320px;
}

/*
 * header menu
 */

.header-menu {
  border-color: transparent;
  margin-bottom: 0;
}
.header-menu a {
  color: #2FC4C6;
}
.header-menu .navbar-brand {
padding-top:0;
  color: #555555;
}
.header-menu-tabs {
  border-color: transparent;
  border: 0;
}
.header-menu-tabs>li {
  margin-top: 10px;
  border-color: transparent;
  font-weight: bold;
}
.header-menu-tabs>li>a, {
  border-color: transparent;
}
.header-menu-tabs>li>a:focus, .header-menu-tabs>li>a:hover {
  background-color: #2FC4C6;
  color: #fff;
}
.header-menu-tabs>li.active>a, .header-menu-tabs>li.active>a:focus, .header-menu-tabs>li.active>a:hover {
  border-color: transparent;
}

.logo-header{ 
  height:50px;
}
/*
* home
*/


.contents-home {
  background-color: #ffffff;
  padding: 0px;
  width: 100%;
}
.top-title {
  text-align: center;
  vertical-align: middle;
  padding: 2% 20px 20px 0;
  position:absolute;
  max-width:80%;
  width:100%;
    min-width:250px;
}

.top-copy {
  font-family: helvetica-w01-bold, helvetica-w02-bold, helvetica-lt-w10-bold, sans-serif;
  font-weight: bold;
  color: #333366;
  position: relative;

  padding: 15px 0;
  text-align: left;
  line-height: 2.5em;
 bottom:0px;
  text-align:left;

  margin-left:5%;
  width:100%;

}
.top-copy .top-copy-big {
  font-size: 3.5em;
}
.top-copy .top-copy-small {
  font-size: 3.2em;
}

/*
* Contents wrapper
*/

.contents-common {
  background-color: #ffffff;
  width: 100%;
  padding: 20px 30px;
}

.contents-subtitle {
  font-family: 'Raleway', sans-serif;

}
.contents-subtitle-common
{
  color: #555555;
}
.contents-title {
  font-family: 'open sans condensed', sans-serif;
  font-size: 28px;

}
.contents-title-common {
  padding-top: 0px;
  margin-top: 7px;
  color: #555555;
}

/*
* Services
*/

.row-services {
  padding-bottom: 20px;
}
.row-services img {
  padding-top: 10px;
}

/*
* Portfolio
*/

.contents-portfolio {
  background-color: #ffffff;
}
.contents-title-portfolio {
  padding-top: 0;
  margin-top: 0;
  padding: 20px 30px 10px 30px;
  padding-left: 30px;
    color: #555555;

}
.page-portfolio img {
  width: 150px;
  height: 150px;
}
.portfolio-legend
{
  color: #FFF;
  background: #222;

}

/*
* About
*/

.contents-title-about {
  padding: 20px;
  margin-top: 7px;
  margin-right:5%;
  color: #ffffff;
  position:absolute;
  background-color:#333366;
  filter:alpha(opacity=85);
-moz-opacity: 0.85;
opacity: 0.85;
}
.contents-subtitle-about {

  color: #fff;
}
.contents-subtitle-about-strong {

  color: #E62EB8;
}
#page-about{
  background-color:#333366;
  height:100%;
}
.about-strong {
  font-weight: bold;
  font-size:1.5em;
}
.image-about {
  object-fit: cover;
}

.about-column {
  padding: 20px 20px 20px 30px;

color:#ffffff !important;



}

/*
* Contact
*/

.contact-image img
{width:100%;padding-right:4%;}

