/*!
 * KEEVID DESIGN
 * jp.css 
 * For the Japanese site
 * Copyright KEEVID DESIGN 2015
 */
@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

body {
    font-family: 　 "Meiryo","Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "MS PGothic", "sans-serif";
}

.jp .header-menu {
    font-family: 'Noto Sans Japanese', sans-serif;
    font-weight: 500;
    white-space: nowrap; 
}

.jp .contents-subtitle {
    font-family: 'Noto Sans Japanese', sans-serif;
}
