.slider-pro {
  font-family: 'Open Sans', Arial;
}
.sp-slide, .sp-mask, .sp-thumbnails-container {
  max-width: 100%;
}
#slider-portfolio {
  width: 100%;
}
#slider-portfolio .sp-selected-thumbnail {
  border: 4px solid #000;
}
.sp-thumbnail {
  margin-left: 0 !important;
}
.sp-image {
  margin: auto !important;

  width: auto!important;
  max-width: 100%;
  height: auto!important;

}
.sp-image-container {
  text-align: center;
  vertical-align: center;
  background-color: #000;
  border-top: 1px solid #eee;
  max-width: 100%;

}
.sp-slides-container, .sp-slide, .sp-image-container{
   max-height:700px;
   
  }
.sp-next-arrow:after, .sp-next-arrow:before, .sp-previous-arrow:after, .sp-previous-arrow:before {
  background-color: #2FC4C6;
}
.sp-next-thumbnail-arrow:after, .sp-next-thumbnail-arrow:before, .sp-previous-thumbnail-arrow:after, .sp-previous-thumbnail-arrow:before {
  background-color: #2FC4C6;
}
